<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="./img/weather.png">
</head>

<body>
    <div class="main-content">
        <h1>
            {{>header}}
        </h1>
        <p>This site was created by James. It uses data from Mapbox.com and Darksky.net</p>
        <img class="portrait" src="./img/keyboard.jpg" />
    </div>
    <p>{{>footer}}</p>
</body>

</html>